{% extends "base.html" %} 
{% block content %} 
<h3> About The Tortoise Book Prize </h3>
<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card basic-template">
      <div class="card-content white-text">
        <span class="card-title account"></span>
          <p> The Tortoise Book Prize was founded in 1972. It is awarded annually to the author(s) of an oustanding work of children's fiction published in the United Kingdom.
            Past winners include JK Rowling, Michael Morpurgo, Jacqueline Wilson and many more.
            <br><br>
            The nominees are announced in the early Spring of each year, with the prize awarded early June. This gives ample opportunity for each nominated book to be read.
            <br><br>
            To encourage participation in the Award, the Review scheme takes place annually, where teachers may register their classes
            as reviewers. Students may read the nominated books and share their thoughts by publishing reviews on this site. The Review project has taken place since 2005
             and has successfully created a thoughtful space for students to learn to critically analyse books via their reviews.
            <br><br>
            In collaboration with Literacy UK, students who read and review all six books, as confirmed by their teachers, will be eligible to receive
            a certificate of participation and a £10 book token.
          </p>
      </div>
    </div>
  </div>
</div>
{% endblock %} 