{% extends "base.html" %} 
{% block content %} 

<h3> My Account </h3>

<!-- only show this Accounts section if user has teacher role -->
{% if account_details.role == 1: %}
<div class="row">
    <div class="col s12 m4">
      <div class="card basic-template">
        <div class="card-content white-text">
          <span class="card-title account">My Details</span>
          <!-- User can view their account details here --> 
          <p>
            Name: {{  account_details.prefix.capitalize() + " " + account_details.surname.upper()  }}</p>
          <p>School: {{ account_details.school.title() }}</p>
          <p>Email: {{ account_details.email }}</p>
        </div>
        <div class="card-action account">
          <a href="{{ url_for('updateTeacher', user=session['user']) }}" class="black-text">Edit</a> 
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card basic-template">
        <div class="card-content white-text">
          <span class="card-title account">Students</span>
          <!-- User will be able to view student accounts assigned to them and create more. -->
            {% if students %}
              {% for student in students: %}
              <p>{{ student.first_name.capitalize() + " " + student.surname_initial.capitalize() }}
              <a class="waves-effect waves-light btn modal-trigger right" href="#modal1{{ student.id }}">Delete</a> 
              <a class="waves-effect waves-light btn-small right" href="{{ url_for('updateStudent', student_id=student.id) }}">Update</a>
              </p>
              <br>
              <div id="modal1{{student.id}}" class="modal">
                <div class="modal-content">
                  <h4>Delete Student</h4>
                  <p>Are you sure you want to delete this student's account? All associated reviews will also be permanently deleted.</p>
                </div>
                <div class="modal-footer">
                  <a href="{{ url_for('deleteStudent', user=session['user'], student=student.id) }}" class="modal-close waves-effect waves-green btn-flat">Delete</a>
                  <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                </div>
              </div>
              {% endfor %}
            {% endif %}
        </div>
        <div class="card-action account">
          <a href="{{  url_for('registerStudent', user=session['user'])  }}" class="black-text">Create new student account</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card basic-template">
        <div class="card-content white-text">
          <span class="card-title account">Students' Reviews</span>
          <!-- User can navigate from here to their students' reviews in order to check them and delete if necessary -->
          {% if students %}
              {% for student in students: %}
          <p>{{ student.first_name.capitalize() + " " + student.surname_initial.capitalize() + ": " + student.books_read|string }}</p>
              {% endfor %}
          {% endif %}
        </div>
        <div class="card-action account">
          <a href="{{ url_for('showReviews', user=session['user']) }}" class="black-text">View reviews</a>
        </div>
      </div>
    </div>
</div>
{% endif %} 

<!-- only show this if user is a student -->
{% if account_details.role == 2: %}
<div class="row">
    <div class="col s12 m4">
      <div class="card basic-template">
        <div class="card-content white-text">
          <span class="card-title account">My Details</span>
          <!-- User can view their account details here -->
          <p>
            Name: {{  account_details.first_name.capitalize() + " " + account_details.surname_initial.capitalize()  }}</p>
          <p>School: {{ account_details.school.title() }}</p>
          <p>Email: {{ account_details.email }}</p>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card basic-template">
        <div class="card-content white-text">
          <span class="card-title account">My Reviews</span>
          <!-- User can view reviews they have created and edit/delete -->
          {% if reviews %} 
            {% for review in reviews %} 
          <p>{{ review.title.title() + ":" }} {{ review.rating }} star(s)</p>
            {% endfor %} 
          {% endif %}
        </div>
        <div class="card-action account">
          <a href="{{ url_for('myReviews', user=session['user']) }}" class="black-text">View reviews</a>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card basic-template">
        <div class="card-content white-text">
          <span class="card-title account">Books to Review</span>
          <!-- User can see if they still have books to review -->
          {% if account_details.books_read == 6: %} 
          <p>Well done! You have read and reviewed every nominated book.</p>
          <p>Your teacher will be able to help you get your certificate of participation and book token.</p>
          {% else: %}
          <p>You still have {{ 6-account_details.books_read }} book(s) left to review.</p>
          {% endif %}
        </div>
        <div class="card-action account">
          {% if account_details.books_read < 6: %}
          <a href="{{  url_for('addReview')  }}" class="black-text">Add reviews</a>
          {% endif %}
        </div>
      </div>
    </div>
</div>
{% endif %} 

{% endblock %} 