{% extends "base.html" %} 
{% block content %} 

<h3> Admin Settings</h3>

<div class="row">
    <form class="col s12 m6" method="POST" action="{{ url_for('addRole') }}">
        <div class="card-panel">
            <div class="row">
                <div class="input-field col s12">
                    <input id="role_name" name="role_name" type="text" class="validate">
                    <label for="role_name">Role Name</label>
                </div>
            </div>          
            <!-- register button -->
            <div class="row">
                <button type="submit" class="col s12 btn-large blue darken-4 text-shadow">
                    Register <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>

    <form class="col s12 m6" method="POST" action="{{ url_for('addBook') }}">
        <div class="card-panel">
            <div class="input-field col s12">
                    <input id="title" name="title" type="text" class="validate">
                    <label for="title">Title</label>
                </div>
            </div> 
            <div class="input-field col s12">
                <input id="author_first" name="author_first" type="text" class="validate">
                <label for="author_first">Author First Name</label>
            </div>
            <div class="input-field col s12">
                <input id="author_surname" name="author_surname" type="text" class="validate">
                <label for="author_surname">Author Surname</label>
            </div>
           
            <!-- register button -->
            <div class="row">
                <button type="submit" class="col s12 btn-large blue darken-4 text-shadow">
                    Register <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %} 