{% extends "base.html" %} 
{% block content %} 

<h3> Reviews </h3>
<div class="row">
 {% if reviews %} 
  {% for review in reviews %} 
    <div class="col s12 m6">
      <div class="card basic-template">
        <div class="card-content white-text">
          <span class="card-title account">{{ review.title.title() }}</span>
            <p>By {{ review.author.title() + " " + review.author_initial.upper() +"." }}</p>
            <p>Rating: {{ review.rating }} star(s)</p> 
            <p>{{ review.review }}</p>
        </div>
      </div>
    </div>
  </div>

{% endfor %} 
{% endif %} 

{% endblock %} 