{% extends "base.html" %} 
{% block content %} 

    <h3 class="center-align">Register New Student</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('registerStudent', user=session['user']) }}">
            <div class="card-panel">
                <!-- username field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix"></i>
                        <input id="email" name="email" type="text" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <!-- first name field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix"></i>
                        <input id="first_name" name="first_name" type="text" class="validate">
                        <label for="first_name">First Name</label>
                    </div>
                </div>   
                <!-- surname field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix"></i>
                        <input id="surname_initial" name="surname_initial" type="text" class="validate">
                        <label for="surname_initial">Surname Initial</label>
                    </div>
                </div>           
                <!-- password field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix"></i>
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- register button -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large blue darken-4 text-shadow">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %} 