{% extends "base.html" %} 
{% block content %} 

<h3 class="center-align">Update Details</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('updateTeacher', user=session['user'])  }}">
        <div class="card-panel" action="{{ url_for('showTeacher', user=session['user'])  }}">
            <!-- username field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-plus prefix"></i>
                    <input id="email" name="email" type="text" class="validate" value="{{ teacher.email }}" maxlength="100" data-length="100" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <!-- prefix field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-plus prefix"></i>
                    <input id="prefix" name="prefix" type="text" class="validate" value="{{ teacher.prefix.capitalize() }}" maxlength="20" data-length="20" required>
                    <label for="prefix">Prefix</label>
                </div>
            </div>   
            <!-- surname field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-plus prefix"></i>
                    <input id="surname" name="surname" type="text" class="validate" value="{{ teacher.surname.capitalize() }}" maxlength="30" data-length="30" required>
                    <label for="surname">Surname</label>
                </div>
            </div>           
            <!-- register button -->
            <div class="row">
                <button type="submit" class="col s12 btn-large blue darken-4 text-shadow">
                    Update <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %} 