@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Playfair+Display&display=swap');

/*-------------------------------------------------------------- Background colour scheme */

body {
    background-color: #171F77;
}

.nav-wrapper {
    background-color: #171F77;
}

#mobile-demo {
    background-color: #171F77;
}

/* Made the footer a little darker to differentiate from body */
.page-footer {
    background-color: #0a0d45;
}

/*-------------------------------------------------------------- Main body colour scheme */

div.card-panel {
    background-color: #FFFADE;
}

.basic-template {
    background-color: #FFFADE;
}

.flashes h4 {
    line-height: 2;
}

/*-------------------------------------------------------------- Text, headings, icons */

a.brand-logo {
    color: #00C89C;
    font-family: 'Nanum Myeongjo', sans-serif;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    margin-left: 3%;
    position: absolute;
}


h3 {
    color: #00C89C;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

h5 {
    color: #00C89C;
    font-family: 'Playfair Display', sans-serif;
}

i {
    color: #00C89C;
}

p {
    color: black;
    font-family: 'Playfair Display', sans-serif;
}

.account {
    color: #171F77;
    font-family: 'Playfair Display', sans-serif; 
}

.intro {
    font-size: large;
    padding-left: 15%;
}

/*-------------------------------------------------------------- Images */

/* Row of six images & clear floats after image containers taken from w3 Schools */
 
/* Row of six images */
.image-column {
    float: left;
    width: 16.66%;
    padding: 5px;
    padding-left: 3%;
  }
  
  /* Clear floats after image containers */
.image-row::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Makes all images the same height, original code adjusted from Stack Overflow */
img {
    float: left;
    height: 200px;
    object-fit: cover;
    border: 5px solid #FFFADE;
}

/*-------------------------------------------------------------- Buttons */

.update {
    margin-right: 1%;
}

/*-------------------------------------------------------------- Footer */
/* Sticky footer code via Materialize */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/*-------------------------------------------------------------- Media queries */

@media(max-width: 481px) {
    a.brand-logo {
        font-size: 14px;
        margin-left: 3%;
        position: absolute;
    }

    h3 {
        font-size: 21px;
    }

    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative
      }

    /* Row of six images */
    .image-column {
        float: left;
        width: 16.66%;
        padding: 2px;
        padding-left: 0%;
        margin-bottom: 5%;
    }
  
  /* Clear floats after image containers */
    .image-row::after {
        content: "";
        clear: both;
        display: table;
     }

    img {
        float: left;
        height: 100px;
        object-fit: cover;
        border: 1px solid #FFFADE;
    }

    .intro {
        padding-left: 10%;
    }

}

/*-------------------------------------------------------------- Media queries for tablet */

@media(min-width: 482px) and (max-width: 960px) {
    a.brand-logo {
        font-size: 14px;
        margin-left: 1%;
        position: absolute;
    }

    h3 {
        font-size: 21px;
    }

    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative
      }

    /* Row of six images */
    .image-column {
        float: left;
        width: 16.66%;
        padding: 1px;
        padding-left: 1%;
    }
  
    /* Clear floats after image containers */
    .image-row::after {
        content: "";
        clear: both;
        display: table;
    }

    img {
        float: left;
        height: 150px;
        object-fit: cover;
        border: 1px solid #FFFADE;
    }

    .intro {
        padding-left: 15%;
    }
}