@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Playfair+Display&display=swap');

body {
    background-color: #171F77;
}

a.brand-logo {
    color: #00C89C;
    font-family: 'Nanum Myeongjo', sans-serif;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    margin-left: 3%;
}

.nav-wrapper {
    background-color: #171F77;
}

h3 {
    color: #00C89C;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}


i.fas {
    color: #00C89C;
}

div.card-panel {
    background-color: #FFFADE;
}

.flashes h4 {
    line-height: 2;
}

.basic-template {
    background-color: #FFFADE;
}

p {
    color: black;
    font-family: 'Playfair Display', sans-serif;
}

.account {
    color: #171F77;
    font-family: 'Playfair Display', sans-serif; 
}

.intro {
    font-size: large;
    padding-left: 20%;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.image-column {
    float: left;
    width: 16.66%;
    padding: 5px;
    padding-left: 3%;
  }
  
  /* Clear floats after image containers */
  .image-row::after {
    content: "";
    clear: both;
    display: table;
  }

  img {
    float: left;
    height: 200px;
    object-fit: cover;
    border: 5px solid #FFFADE;
}
